body{
    background-image: url("../images/background-img.jpg");
    background-size: 100%;
    background-position-y: 4%;
    background-repeat: no-repeat;
    background-color: #000000;
}

header{
    margin-left: 18%;
    margin-top: -2%;
}

header p{
    color: white;
    font-family: papyrus, arial;
    font-size: 50px;
    font-weight: bold;
}

header p::first-letter{
    font-size: 70px;
}

p {
    color: white;
    font-family: papyrus, arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

article {
    display: inline-block;
    margin-left: 12%;
}

.header {
    text-align: left;
}

section {
    max-width: 700px;
    margin-left: 10%;
}


img {
    width: 250px;
    height: 250px;
}

.back {
    margin: 0% 0px 0px 9%;
    max-width: 150px;
    display: inline-block;
    background: #7d6800;
    background-image: -webkit-linear-gradient(top, #7d6800, #000000);
    background-image: -moz-linear-gradient(top, #7d6800, #000000);
    background-image: -ms-linear-gradient(top, #7d6800, #000000);
    background-image: -o-linear-gradient(top, #7d6800, #000000);
    background-image: linear-gradient(to bottom, #7d6800, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 5px 5px 12px #ffffff;
    font-family: papyrus, arial;
    font-weight: bold;
    color: #ff8c00;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
}

.back:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #7d6800);
    background-image: -moz-linear-gradient(top, #000000, #7d6800);
    background-image: -ms-linear-gradient(top, #000000, #7d6800);
    background-image: -o-linear-gradient(top, #000000, #7d6800);
    background-image: linear-gradient(to bottom, #000000, #7d6800);
    text-decoration: none;
    cursor: pointer;
}