body{
    background-image: url("../images/background-img.jpg");
    background-size: 100%;
    background-position-y: 4%;
}

header{
    margin-left: 13%;
    margin-top: -4%;
}

header p{
    color: white;
    font-family: papyrus, arial;
    font-size: 95px;
    font-weight: bold;
}

header p::first-letter{
    font-size: 105px;
}

nav{
    margin-top: -1%;
    margin-left: 15%;
}

nav ul{
    list-style: none;
}

nav ul li{
    margin-top: 1.5%;
    width: 30%;
    text-align: center;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 38px;
}

nav ul li a:hover{
    color: #fd9802;
}

h2 {
    color: white;
}

.helpControls {
    margin: 4% 0px 0px 7%;
}

.controlsHelp {
    display: inline-block;
    text-align: center;
    padding-right: 35px;
}


a {
    text-decoration: none;
    color: red;
}
/* Team page styles*/
.teamName{
    color:white;
    text-align: center;
}
.team{
    float:left;
    margin-left: 100px;
}
#name{
    margin-bottom: 10px;
    margin-left: -100px;
}
#goBack{
    margin-right: 4%;
    max-width: 150px;
    text-align: center;

h2 {
    color: white;
}

.helpControls {
    margin: 4% 0px 0px 7%;
}

.controlsHelp {
    display: inline-block;
    text-align: center;
    padding-right: 35px;
}



a {
    text-decoration: none;
    color: red;
}

#goBack {
    margin: 0% 0px 0px 9%;
    max-width: 150px;
    display: inline-block;

    background: #7d6800;
    background-image: -webkit-linear-gradient(top, #7d6800, #000000);
    background-image: -moz-linear-gradient(top, #7d6800, #000000);
    background-image: -ms-linear-gradient(top, #7d6800, #000000);
    background-image: -o-linear-gradient(top, #7d6800, #000000);
    background-image: linear-gradient(to bottom, #7d6800, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 5px 5px 12px #ffffff;
    font-family: papyrus, arial;
    font-weight: bold;
    color: #ff8c00;
    padding: 10px 20px 10px 20px;
    border: solid #ffffff 1px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: -150px;
}
#goBack:hover{
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #7d6800);
    background-image: -moz-linear-gradient(top, #000000, #7d6800);
    background-image: -ms-linear-gradient(top, #000000, #7d6800);
    background-image: -o-linear-gradient(top, #000000, #7d6800);
    background-image: linear-gradient(to bottom, #000000, #7d6800);
    text-decoration: none;
}
